.product_img_container {
  height: 250px;
}

.product__overlay {
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}
.product_card_container:hover .product__overlay {
  opacity: 1;
}

.product__overlay .search__icon {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.product__overlay .search__icon:hover {
  transform: scale(1.1);
}
